.alink {
	color:black;
	text-decoration:inherit;
}
.alink:link {text-decoration:none;}
.alink:visited {text-decoration:none;}
.alink:hover {text-decoration:underline;}
.alink:active {text-decoration:underline;}

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif;
}

.nav-container{
	margin: 0 auto;
	padding: 1em 1.5em;
	text-align: center;
	background: #435a6b;
}

nav a {
	position: relative;
	display: inline-block;
	margin: 15px 25px;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1.35em;
}

nav a:hover,
nav a:focus {
	outline: none;
}

.admin-nav-container{
	margin: 0 auto;
	padding: 1em 1.5em;
	text-align: center;
	position: relative;
	display: inline-block;
	margin: 15px 25px;
	outline: none;
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1.35em;
}

.admin-nav-container a:hover,
.admin-nav-container a:focus {
	outline: none;
}

/* Effect 1: Brackets */
.cl-effect-1 a::before,
.cl-effect-1 a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.cl-effect-1 a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}


.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }

pre.cow{
	font-size: 18px;
	padding-left:38%;
	text-align:left;
}

.login{
	width: 25%;
	margin: 0 auto;
	text-align: center;
}

.login legend{
	text-align: center;
}


.register{
	width: 20%;
	margin: 0 auto;

}

.register form{
	margin: 0 23%;
}

.register legend{
	text-align: center;
}

.main{
	margin: 0 auto;
	width:50%;
	text-align: center;
}

.main .user-table,
.main .data-grid,
.main .user-record,
.main form{
	width: auto;
	margin: 5px auto;
}

.content{

	margin: 2em 0;
}

.profile{
	margin: 0 auto;
	width:30%;
}

.profile legend{
	text-align: center;
}

.profile .pure-control-group{
	margin: 0 12%;
}

.sigs{
	margin: 0 auto;
	width:50%;
}

.long-record{
	margin: 0 auto;
	width:70%;
	text-align: center;
}

.record{
	margin: 0 auto;
	width:50%;
	text-align: center;
}

.admin{
	margin: 0 auto;
	width:95%;
}
