.user-record table {
	border-collapse: collapse;
	text-align: left;
	width: 100%;
}

.user-record {
	font: normal 12px/150% Arial, Helvetica, sans-serif;
	background: #fff;
	overflow: hidden;
	border: 1px solid #006699;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width: 500px;
}

.user-record table td,.user-record table th {
	padding: 3px 10px;
}

.user-record table thead th {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #006699
		), color-stop(1, #00557F));
	background: -moz-linear-gradient(center top, #006699 5%, #00557F 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699',
		endColorstr='#00557F');
	background-color: #006699;
	color: #ffffff;
	font-size: 15px;
	font-weight: bold;
	border-left: 1px solid #0070A8;
}

.user-record table thead th:first-child {
	border: none;
}

.user-record table tbody td {
	color: #00496B;
	border-left: 1px solid #E1EEF4;
	font-size: 12px;
	font-weight: normal;
}

.user-record table tbody .alt td {
	background: #E1EEF4;
	color: #00496B;
}

.user-record table tbody td:first-child {
	border-left: none;
}

.user-record table tbody tr:last-child td {
	border-bottom: none;
}

.user-record table tfoot td div {
	border-top: 1px solid #006699;
	background: #E1EEF4;
}

.user-record table tfoot td {
	padding: 0;
	font-size: 12px
}

.user-record table tfoot td div {
	padding: 2px;
}

.user-record table tfoot td ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: right;
}

.user-record table tfoot  li {
	display: inline;
}

.user-record table tfoot li a {
	text-decoration: none;
	display: inline-block;
	padding: 2px 8px;
	margin: 1px;
	color: #FFFFFF;
	border: 1px solid #006699;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #006699
		), color-stop(1, #00557F));
	background: -moz-linear-gradient(center top, #006699 5%, #00557F 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699',
		endColorstr='#00557F');
	background-color: #006699;
}

.user-record table tfoot ul.active,.user-record table tfoot ul a:hover {
	text-decoration: none;
	border-color: #006699;
	color: #FFFFFF;
	background: none;
	background-color: #00557F;
}

 .long-input{ 
 	width: 300px;
    background: transparent; 
    border: 0px; 
   } 